  <ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
      <Label class="action-bar-title" text="Como rezar" colSpan="2"></Label>

      <Label class="fas menu-icon" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
  </ActionBar>

  <StackLayout class="page__content">

      <Label textWrap="true" class="rosary-body-how-to-title">
        Fazer o sinal da Cruz, Rezar o Creio e após :
      </Label>

      <Label class="rosary-body" textWrap="true">
        Ó Jesus divino redentor, tende misericórdia de nós e do mundo inteiro.
        Deus santo, Deus forte, Deus imortal, tende misericórdia de nós e do
        mundo inteiro.
        Graça, misericórdia meu Jesus, nos perigos presentes cobri-nos com o vosso
        preciosíssimo sangue.
        Eterno pai tende misericórdia de nós pelo sangue de Jesus Cristo vosso filho
        unigênito tende misericórdia de nós vos suplicamos. Amém!
      </Label>
      <Label class="rosary-body-how-to" textWrap="true">
        Nas contas grandes:&#13;
        Eterno Pai eu vos ofereço as Santas Chagas de Nosso Senhor Jesus
        Cristo para curar as de nossas almas.
      </Label>
      <Label class="rosary-body-how-to" textWrap="true">
        Nas contas pequenas: &#13;
        Meu Jesus perdão e misericórdia pelos mérios de vossas santas Chagas.
      </Label>
  </StackLayout>


