<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <label class="action-bar-title" text="Evangelho" colSpan="2"></label>
    <label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></label>
  </GridLayout>
</ActionBar>

<StackLayout class="page_content" letterSpacing="2" style="padding: 10">
  <StackLayout class="liturgy-container" style="padding: 10;">
    <Label text="{{evangelion}}" class="liturgy-title"></Label>
    <ScrollView
      class="scrollview"
      style="height: 110%; padding: 10"
      scrollBarIndicatorVisible="true"
      orientation="vertical"
    >
      <label
        class="liturgy-evangelion"
        text="{{evangelionText}}"
        textWrap="true"
        style="
          font-size: 18;
          word-break: break-word;
          text-align: justify;
          text-justify: inter-word;
          padding: 10;
        "
      >
      </label>
    </ScrollView> </StackLayout
></StackLayout>
