<RadSideDrawer [drawerTransition]="sideDrawerTransition" class="page__content">
  <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
    <StackLayout row="0" class="drawer-header">
      <Image class="header-img" src="~/app/assets/rounded.png"></Image>
    </StackLayout>

    <ScrollView row="1" class="nt-drawer__body">
      <StackLayout>
        <GridLayout
          columns="auto, *"
          class="{{activatedUrl === '/home' ? 'drawer-list-item-selected' : 'drawer-list-item'}}"
          [class.-selected]="isComponentSelected('/home')"
          (tap)="onNavItemTap('/home')"
        >
          <Image
            col="0"
            src="~/app/assets/training-icon.png"
            class="{{activatedUrl === '/home' ? 'drawer-icons-selected' : 'drawer-icons'}}"
          />
          <Label
            col="1"
            text="Apresentação"
            class="{{activatedUrl === '/home' ? 'drawer-icon-text-selected' : 'drawer-icon-text'}}"
          ></Label>
        </GridLayout>

         <GridLayout
          columns="auto, *"
          class="{{activatedUrl === '/how-to-pray' ? 'drawer-list-item-selected' : 'drawer-list-item'}}"
          [class.-selected]="isComponentSelected('/home')"
          (tap)="onNavItemTap('/how-to-pray')"
          >
          <Image
            col="0"
            src="~/app/assets/pray-welcome-icon.png"
            class="{{activatedUrl === '/how-to-pray' ? 'drawer-icons-selected' : 'drawer-icons'}}"
          />
          <Label
            col="1"
            text="Como rezar"
            class="{{activatedUrl === '/how-to-pray' ? 'drawer-icon-text-selected' : 'drawer-icon-text'}}"
          ></Label>
        </GridLayout>


        <GridLayout
          columns="auto, *"
          class="{{activatedUrl === '/monday' ? 'drawer-list-item-selected' : 'drawer-list-item'}}"
          [class.-selected]="isComponentSelected('/browse')"
          (tap)="onNavItemTap('/monday')"
        >
          <Image
            col="0"
            src="~/app/assets/monday-icon.png"
            class="{{activatedUrl === '/monday' ? 'drawer-icons-selected' : 'drawer-icons'}}"
          />
          <Label
            col="1"
            text="Segunda-feira"
            class="{{activatedUrl === '/monday' ? 'drawer-icon-text-selected' : 'drawer-icon-text'}}"
          ></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="{{activatedUrl === '/tuesday' ? 'drawer-list-item-selected' : 'drawer-list-item'}}"
          [class.-selected]="isComponentSelected('/tuesday')"
          (tap)="onNavItemTap('/tuesday')"
        >
          <Image
            col="0"
            src="~/app/assets/tuesday-icon.png"
            class="{{activatedUrl === '/search' ? 'drawer-icons-selected' : 'drawer-icons'}}"
          ></Image>
          <Label
            col="1"
            text="Terça-feira"
            class="{{activatedUrl === '/search' ? 'drawer-icon-text-selected' : 'drawer-icon-text'}}"
          ></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="{{activatedUrl === '/wednesday' ? 'drawer-list-item-selected' : 'drawer-list-item'}}"
          [class.-selected]="isComponentSelected('/wednesday')"
          (tap)="onNavItemTap('/wednesday')"
        >
          <Image
            col="0"
            src="~/app/assets/wednesday-icon.png"
            class="{{activatedUrl === '/wednesday' ? 'drawer-icons-selected' : 'drawer-icons'}}"
          ></Image>
          <Label
            col="1"
            text="Quarta-feira"
            class="{{activatedUrl === '/wednesday' ? 'drawer-icon-text-selected' : 'drawer-icon-text'}}"
          ></Label>
        </GridLayout>

         <GridLayout
          columns="auto, *"
          class="{{activatedUrl === '/thursday' ? 'drawer-list-item-selected' : 'drawer-list-item'}}"
          [class.-selected]="isComponentSelected('/thursday')"
          (tap)="onNavItemTap('/thursday')"
        >
          <Image col="0"
            src="~/app/assets/thursday-icon.png"
            class="{{activatedUrl === '/thursday' ? 'drawer-icons-selected' : 'drawer-icons'}}"
          />
          <Label
            col="1"
            text="Quinta-feira"
            class="{{activatedUrl === '/thursday' ? 'drawer-icon-text-selected' : 'drawer-icon-text'}}"
          ></Label>
        </GridLayout>

         <GridLayout
          columns="auto, *"
          class="{{activatedUrl === '/friday' ? 'drawer-list-item-selected' : 'drawer-list-item'}}"
          [class.-selected]="isComponentSelected('/friday')"
          (tap)="onNavItemTap('/friday')"
        >
          <Image
            col="0"
            src="~/app/assets/friday-icon.png"
            class="{{activatedUrl === '/friday' ? 'drawer-icons-selected' : 'drawer-icons'}}"
          />
          <Label
            col="1"
            text="Sexta-feira"
            class="{{activatedUrl === '/friday' ? 'drawer-icon-text-selected' : 'drawer-icon-text'}}"
          ></Label>
        </GridLayout>

         <GridLayout
          columns="auto, *"
          class="{{activatedUrl === '/saturday' ? 'drawer-list-item-selected' : 'drawer-list-item'}}"
          [class.-selected]="isComponentSelected('/saturday')"
          (tap)="onNavItemTap('/saturday')"
        >
          <Image
            col="0"
            src="~/app/assets/saturday-icon.png"
            class="{{activatedUrl === '/saturday' ? 'drawer-icons-selected' : 'drawer-icons'}}"
          />
          <Label
            col="1"
            text="Sábado"
            class="{{activatedUrl === '/saturday' ? 'drawer-icon-text-selected' : 'drawer-icon-text'}}"
          ></Label>
        </GridLayout>

         <GridLayout
          columns="auto, *"
          class="{{activatedUrl === '/sunday' ? 'drawer-list-item-selected' : 'drawer-list-item'}}"
          [class.-selected]="isComponentSelected('/sunday')"
          (tap)="onNavItemTap('/sunday')"
        >
          <Image col="0"
            src="~/app/assets/sunday-icon.png"
            class="{{activatedUrl === '/sunday' ? 'drawer-icons-selected' : 'drawer-icons'}}"
          />
          <Label
            col="1"
            text="Domingo"
            class="{{activatedUrl === '/sunday' ? 'drawer-icon-text-selected' : 'drawer-icon-text'}}"
          ></Label>
        </GridLayout>



        <StackLayout class="hr"></StackLayout>

        <GridLayout
          columns="auto, *"
          class="{{activatedUrl === '/liturgy' ? 'drawer-list-item-selected' : 'drawer-list-item'}}"
          [class.-selected]="isComponentSelected('/liturgy')"
          (tap)="onNavItemTap('/liturgy')"
        >
          <Image
            col="0"
            src="~/app/assets/church-icon.png"
            class="{{activatedUrl === '/liturgy' ? 'drawer-icons-selected' : 'drawer-icons'}}"
          />
          <Label col="1" text="Evangelho do dia" class="drawer-icon-text"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="{{activatedUrl === '/novena' ? 'drawer-list-item-selected' : 'drawer-list-item'}}"
          [class.-selected]="isComponentSelected('/novena')"
          (tap)="onNavItemTap('/novena')"
        >
          <Image
            col="0"
            src="~/app/assets/cross.png"
            class="{{activatedUrl === '/novena' ? 'drawer-icons-selected' : 'drawer-icons'}}"
          />
          <Label col="1" text="Novena" class="drawer-icon-text"></Label>
        </GridLayout>

      </StackLayout>
    </ScrollView>
  </GridLayout>

  <GridLayout tkMainContent>
    <Frame animated="true" actionBarVisibility="never">
      <Page
        statusBarStyle="light"
        backgroundSpanUnderStatusBar="true"
        androidStatusBarBackground="#FF000000"
      >
        <page-router-outlet></page-router-outlet>
      </Page>
    </Frame>
  </GridLayout>
</RadSideDrawer>

