<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <label class="action-bar-title" text="Novena" colSpan="2"></label>

    <label
      class="fas menu-icon"
      text="&#xf0c9;"
      (tap)="onDrawerButtonTap()"
    ></label>
  </GridLayout>
</ActionBar>

<StackLayout class="page__content">
  <label textWrap="true" class="rosary-body-how-to-title" style="font-size: 20;">
    Novena de Jesus das Santas Chagas :
  </label>

  <ScrollView>
    <label class="rosary-body" textWrap="true">
      Por vossas Santas Chagas. Vossas Chagas Gloriosas. O Cristo Senhor me
      proteja e me Guarde.&#13; Senhor Jesus fostes elevado na cruz para que,
      por vossas Santas Chagas, sejam curadas as de nossas Almas. Eu vos louvo e
      agradeço pelo vosso ato redentor. Carregaste em vosso próprio corpo os
      meus pecados e de toda a humanidade. Nas vossas Santas Chagas coloco.
      Minhas inteções. Minhas Preocupações, ansiedades e angústias. Minhas
      enfermidades físicas e psíquicas. Meus Sofrimentos, dores, alegrias e
      necessidades. Em vossas Santas Chagas Senhor, Coloco minha Família.
      Envolvei, Senhor, a mim e meus familiares protegendo-nos do mal. (instante
      de silêncio). Senhor, ao mostrar vossas Santas Chagas Gloriosas a Tomé e o
      mandando tocar em vosso lado aberto, o curaste da incredulidade. Eu vos
      peço, Senhor, permita-me refugiar em vossas Santas Chagas e, por mérito
      desses sinais de vosso amor, curai minha falta de fé. Ó Jesus, pelos
      méritos de vossa Paixão, Morte e Ressurreição, dai-me a graça de viver os
      frutos da nossa Redenção. Amém!
    </label>
  </ScrollView>
</StackLayout>
